body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: hotpink;
}

.header a {
    color: white;
}

.header a:hover {
    color: white;
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer a:hover {
    color: #2c3034;
    text-decoration: underline;
}

.footer a {
    color: #2c3034;
}
