<h1>Car: {{ car.model.brand.name }} {{car.model.name }}</h1>
<div>
    <ul>
        <li> Диллер: {{ car.dealer.title }}</li>
        <li> Бренд: {{ car.model.brand.name }} </li>
        <li> Модель: {{ car.model.name }} </li>
        <li> Ціна: {{ car.price }} USD</li>
        <li> Колір: {{ car.color }}</li>
        <li> Тип двигуна: {{ car.engine_type }}</li>
        <li> Тип пального: {{ car.fuel_type }}</li>
        <li> Тип забруднення: {{ car.pollutant_class }}</li>
        <li> Обсяг двигуна: {{ car.capacity }}</li>
        <li> Потужність двигуна: {{ car.engine_power }}</li>
        <li> Коробка передач: {{ car.dear_case }} </li>
        <li> Статус: {{ car.car_segments }}</li>
        <li> Тип кузова: {{ car.body_type }}</li>
        <li> Кількість дверей: {{ car.doors }}</li>
        <li> Кількість місць: {{ car.sitting_place }}</li>
        <li> Номер: {{ car.number }}</li>
        <li> Дата реєстрації: {{ car.first_registration_date }}</li>
        <li> Опис: {{ car.description }}</li>
    </ul>
</div>