body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: hotpink;
}

.header a {
    color: white;
}

.header a:hover {
    color: white;
    text-decoration: underline;
}

footer {

}

.footer a:hover {
    color: #383838;
    text-decoration: underline;
}

.footer a {
    color: #383838;
}
